.aboutme {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.aboutme-description{
  border-radius: 5px;
  margin: 12px;
  margin-right: 6px;
  width: 50%;
  background-color: #333333;
}

.aboutme-description>h1{
  font-weight: bolder; 
  text-align: center;
  color: white;
}

.aboutme-description>p{
  font-size: 30px;
  color: white;
  padding: 12px;
}

.aboutme-img{
  max-width: 50%;
  height: auto;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align:center;
  height: 460px;
  width: 300px;
}

.aboutme-slideshow{
  border-radius: 5px;
  margin: 12px;
  margin-left: 6px;
  width: 50%;
  align-content: center;
  background-color: #333333;
}

.aboutme-slideshow>div{
  text-align: center;
}

.body-aboutme{
  background: #8e9eab;
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); 
  background: linear-gradient(to left, #8e9eab , #eef2f3); 
}

.slideshow-button{
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  color: #111;
  cursor: pointer;
}

@media screen and (max-width: 1000px){
  .aboutme {
    flex-direction: column-reverse;
  }
}