.awards {
  display: flex;
  flex-direction: row;
  max-height: 80%;
}

.awards-description{
  border-radius: 5px;
  margin: 12px;
  margin-left: 6px;
  width: 50%;
  background-color: #333333;
}

.awards-description>h1{
  font-weight: bolder; 
  text-align: center;
  color: white;
}

.awards-description>ul>li{
  color: white;
  font-size: 20px;
}

.awards-description>ul>li>b{
  color: gold;
}

.awards-img{
  padding: 8px;
  height: 460px;
  width: 300px;
}

.awards-img-container{
  border-radius: 5px;
  margin: 12px;
  margin-right: 6px;
  width: 50%;
  text-align: center;
  background-color: #333333;
}

.awards-img-container>img{
  max-width: 50%;
  height: auto;
}
.body-awards{
  background: #8e9eab;
  background: -webkit-linear-gradient(to left, #FE6363, #FBB9B9); 
  background: linear-gradient(to left, #FE6363, #FBB9B9); 
}

@media screen and (max-width: 1000px){
	.awards {
	  flex-direction: column;
	}
	.awards-description{
	   width: 98%;
	}

	.awards-img-container{
	   width: 98%;
	}

	.awards-description>ul>li{
  	   font-size: 30px;
	}
}