.name-header{
  float: left;
  overflow: hidden;
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
}

.name-header:hover {
  color: #B0C4DE;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4C4D4E;
}

.navitem {
  float: right;
}

.navitem>a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitem>a:hover {
  background-color: #111;
}

.navitem>.active-a{
  color: #B0C4DE; 
  background-color: #111;
}

.navitem>.active-b{
  color: #FE6363;
  background-color: #111;
}

.navitem>.active-c{
  color: #63FE96;
  background-color: #111;
}

.navitem>.active-d{
  color: #FECC83;
  background-color: #111;
}

.navitem>.active:hover {
  color: #FECC83;
  background-color: #111;
}

.title-header{
  float:left;
  padding: 14px 0;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 600px){
  .navitem {
    font-size: 30px;
  }
}